@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

#content {
	font-family: Arial, sans-serif;
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-width: 1920px;
	!height: 1701px;
	text-align: center;
	margin: 0 auto;
}

.sacramento {
	font-family: Sacramento, script;
	font-weight: bold;
	color: rgb(227, 172, 177);
}

#title p {
	font-size: 72pt;
	padding-bottom: 10px;
	margin: 0;
}

#nav {
	background-color: rgb(172, 118, 142);
}

#nav p, a {
	font-size: 18pt;
	color: white;
}

#banner img {
	max-width: 90%;
}

#about p {
	font-size: 13.2pt;
}

#about p:nth-of-type(1){
	font-size: 36pt;
	margin-bottom: 0;
}

